# fly.toml app configuration file generated for miyu-soul-app-winter-glitter-6819 on 2025-12-19T21:02:14+05:30
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'miyu-soul-app-winter-glitter-6819'
primary_region = 'sin'

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 3002
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 2
  processes = ['app']

[[vm]]
  memory = '4gb'
  cpus = 2
  memory_mb = 4096

[metrics]
  port = 9091
  path = "/metrics"


